@attribute [StreamRendering]
@rendermode InteractiveServer
@page "/admin/khachhang"

<!-- HEADER -->
<div class="content-header">
    <h2>
        <i class="fas fa-users"></i>
        Quản lý Khách hàng
    </h2>
</div>

<!-- ACTION BAR -->
<div class="action-bar">
    <div class="search-group w-100">
        <input @bind="Keyword" @bind:event="oninput" @onkeyup="OnKeyUp" type="text" placeholder="Tìm kiếm khách hàng..." class="form-control">
        <button class="btn-search" @onclick="Search">
            <i class="fas fa-search"></i>
            Tìm kiếm
        </button>
    </div>
</div>

<!-- TABLE -->
<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>Mã KH</th>
                <th>Tên khách hàng</th>
                <th class="text-center">Số điện thoại</th>
                <th class="text-center">Email</th>
                <th class="text-center">Điểm thưởng</th>
                <th class="text-center">Tùy chỉnh</th>
            </tr>
        </thead>
        <tbody>
            @if (KhachHangData?.Data == null || !KhachHangData.Data.Any())
            {
                <tr>
                    <td colspan="6" class="text-center text-muted py-4">
                        <i class="fas fa-box-open fa-2x mb-2"></i><br />
                        @* Không có dữ liệu *@
                    </td>
                </tr>
            }
            else
            {
                @foreach (var item in KhachHangData.Data)
                {
                    <tr>
                        <td>@item.CustomerId</td>
                        <td>@item.Name</td>
                        <td class="text-center">@item.Phone</td>
                        <td class="text-center">@item.Email</td>
                        <td class="text-center">@item.RewardPoints</td>
                        <td class="text-center">
                            <button class="btn-action btn-edit"
                                    @onclick="() => KhachHangFormRef.OpenUpdate(item)">
                                <i class="fas fa-edit"></i>
                            </button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@if (KhachHangData?.Data != null && KhachHangData.Data.Any())
{
    <PaginationAdmin Total="KhachHangData.Total"
                     Page="@Page"
                     PageChanged="ChangePage"
                     PageSize="@PageSize" />
}

<KhachHangForm @ref="KhachHangFormRef" OnSuccess="LoadData" />