@attribute [StreamRendering]
@rendermode InteractiveServer
@page "/admin/phieunhap"
@using Components.Layout.Admin;
@using BlazorStoreManagementWebApp.Components.Forms.Admin
@layout MainLayout

<!-- HEADER -->
<div class="content-header">
    <h2>
        <i class="fas fa-file-import"></i>
        Quản lý Phiếu nhập
    </h2>
</div>

<!-- ACTION BAR -->
<div class="action-bar">
    <button class="btn-add" @onclick="() => PhieuNhapFormRef.OpenCreate()">
        <i class="fas fa-plus"></i>
        Thêm mới
    </button>

    <div class="search-group w-100">
        <input @bind="InputFilter.Keyword"
               type="text"
               placeholder="Nhập tên NCC hoặc nhân viên..."
               class="form-control" />
        <button class="btn-search" @onclick="Search">
            <i class="fas fa-search"></i>
            Tìm kiếm
        </button>
    </div>
</div>

<div class="action-bar">
    <input @bind="InputFilter.StartDate" type="date" class="form-control" style="width: auto;" placeholder="Từ ngày" />
    <input @bind="InputFilter.EndDate" type="date" class="form-control ms-2" style="width: auto;" placeholder="Đến ngày" />

    <input @bind="InputFilter.MinPrice" type="number" class="form-control ms-2" style="width: auto;" placeholder="Min tổng tiền" />
    <input @bind="InputFilter.MaxPrice" type="number" class="form-control ms-2" style="width: auto;" placeholder="Max tổng tiền" />

    <button class="btn btn-secondary ms-2" @onclick="ClearFilter">
        <i class="fas fa-undo"></i>
        Reset
    </button>
</div>

<!-- TABLE -->
<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>Mã phiếu</th>
                <th>Nhà cung cấp</th>
                <th class="text-center">Ngày nhập</th>
                <th class="text-center">Nhân viên</th>
                <th class="text-center">Tổng tiền</th>
                <th class="text-center">Tùy chỉnh</th>
            </tr>
        </thead>
        <tbody>
            @if (PhieuNhapData?.Data == null || !PhieuNhapData.Data.Any())
            {
                <tr>
                    <td colspan="6" class="text-center text-muted py-4">
                        <i class="fas fa-box-open fa-2x mb-2"></i><br />
                        Không có dữ liệu
                    </td>
                </tr>
            }
            else
            {
                @foreach (var item in PhieuNhapData.Data)
                {
                    <tr>
                        <td>@item.ImportId</td>
                        <td>@(item.Supplier?.Name ?? "N/A")</td>
                        <td class="text-center">
                            @item.ImportDate.ToString("dd/MM/yyyy")
                        </td>
                        <td class="text-center">@(item.Staff?.FullName ?? "N/A")</td>
                        <td class="text-center text-success fw-bold">
                            @string.Format("{0:N0} đ", item.TotalAmount)
                        </td>
                        <td class="text-center">
                            <button class="btn-action btn-edit"
                                    @onclick="async () => await PhieuNhapFormRef.OpenDetail(item)">
                                <i class="fas fa-eye"></i>
                            </button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@if (PhieuNhapData?.Data != null && PhieuNhapData.Data.Any())
{
    <PaginationAdmin Total="PhieuNhapData.Total"
                     Page="@Page"
                     PageChanged="ChangePage"
                     PageSize="@PageSize" />
}

<PhieuNhapForm @ref="PhieuNhapFormRef" OnSuccess="LoadData" />

@if (ShowPdfModal)
{
    <div style="position: fixed; inset: 0; background: rgba(0,0,0,.5); z-index: 2000;"></div>

    <div style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 80%; height: 90%; background: white; border-radius: 10px; padding: 10px; z-index: 2001; display: flex; flex-direction: column;">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <div style="font-size: 20px; font-weight: bold;">
                Preview PDF
            </div>
            <button class="btn btn-close btn-secondary" @onclick="ClosePreview"></button>
        </div>

        <iframe id="pdfPreviewFrame" style="width:100%; height:80vh; border:none; flex: 1;"></iframe>

        <div style="margin-top: 10px; display: flex; gap: 10px; justify-content: flex-end;">
            <button class="btn btn-primary" @onclick="PrintPdf">Xuất file</button>
        </div>
    </div>
}